<!-- Site wrapper -->
<div class="wrapper">
  <header class="main-header fixad-top">
    <!-- Logo -->
    <a [routerLink]="['/']" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini">
        <b>{{ projectName.minimalName }}</b>
      </span>
      <!-- logo for regular state and mobile devices -->
      <a
        class="sidebar-toggle hidden-sm hidden-md hidden-lg"
        style="padding: 2.5px 10px;color: white !important"
        data-toggle="push-menu"
        role="button"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <span class="logo-lg"
        ><b>{{ projectName.firstName }}</b> {{ projectName.lastName }}</span
      >
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navb-ar-static-top hidden-xs">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img [src]="userDefault" class="user-image" alt="User Image" />
              <span class="hidden-xs">{{ user?.nome_completo }}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img [src]="userDefault" class="img-circle" alt="User Image" />
                <p>{{ user?.nome_completo }} - {{ projectName.firstName }} {{ projectName.lastName }}</p>

                <p *ngIf="user.nivelacesso === 1">
                  Agente
                </p>

                <p *ngIf="user.nivelacesso === 2" style="color: rgb(255, 0, 0);">
                  Admin
                </p>

                <p *ngIf="user.nivelacesso === 3" style="color: rgb(0, 0, 0); font: bold">
                  SUPER DEVELOPER
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <!-- <div class="pull-left">
                  <a class="btn btn-default btn-flat">Meus dados</a>
                </div> -->
                <div class="pull-right">
                  <a class="btn btn-default btn-flat" [routerLink]="['/logout']">Sair</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <!-- <li class="header"></li> -->

        <!-- <li routerLinkActive="active" *ngIf="user.nivelacesso === 3">
                    <a [routerLink]="['/main']">
                        <i class="fa fa-dashboard text-blue"></i>
                        <span class="itemTitle">Dashboard</span>
                    </a>
                </li> -->
        <li routerLinkActive="active" *ngIf="user.nivelacesso === 3">
          <a [routerLink]="['/usuario']">
            <i class="fa fa-linux text-info"></i>
            <span>Usuários</span>
          </a>
        </li>
        <!-- <li routerLinkActive="active">
                    <a [routerLink]="['/genero']">
                        <i class="fa fa-linux text-success"></i>
                        <span>Genero</span>
                    </a>
                </li> -->
        <li routerLinkActive="active">
          <a [routerLink]="['/entidade']">
            <i class="fa fa-linux text-success"></i>
            <span>entidade</span>
          </a>
        </li>
        <!-- <li routerLinkActive="active">
                    <a [routerLink]="['/meus-livros']">
                        <i class="fa fa-linux text-warning"></i>
                        <span>Meus Livros</span>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/amigos']">
                        <i class="fa fa-linux text-info"></i>
                        <span>Amigos</span>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/emprestimos']">
                        <i class="fa fa-linux text-info"></i>
                        <span>Emprestimos de Livros</span>
                    </a>
                </li> -->
        <!-- <li routerLinkActive="active">
                    <a [routerLink]="['/autores']">
                        <i class="fa fa-linux text-danger"></i>
                        <span>Autores</span>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/livros']">
                        <i class="fa fa-linux text-warning"></i>
                        <span>Livros</span>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/leitura']">
                        <i class="fa fa-linux text-muted"></i>
                        <span>Lista de Leitura</span>
                    </a>
                </li> -->
        <li>
          <a [routerLink]="['/logout']">
            <i class="fa fa-arrow-left text-success"></i>
            <span>Sair do Sistema</span>
          </a>
        </li>
        <!--li class="treeview link-pointer" routerLinkActive="active menu-open">
          <a>
            <i class="fa fa-linux"></i>
            <span>Item</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="" routerLinkActive="active">
              <a [routerLink]="['/main']">
                <i class="fa fa-linux"></i> Sub Item</a >
            </li>
          </ul>
        </li-->
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>

  <!-- footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>{{projectName.firstName}}</b> {{projectName.lastName}}
    </div>
    <strong>
      <a href="https://www.pluritech.com.br">
        Pluritech Brasil</a>.
    </strong>
  </footer -->
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
