<section class="hidden-xs">
  <ol class="breadcrumb">
    <li class="">
      <a [routerLink]="['/']"> <i class="fa fa-dashboard"></i> Dashboard</a>
    </li>
    <li class="">
      <a [routerLink]="[this.urlRoute]"> <i class=""></i> {{ this.Nome_Tabela }}</a>
    </li>
    <li class="" *ngIf="!EstaAlterando">Adicionando</li>
    <li class="" *ngIf="EstaAlterando">Alterando</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="box">
      <div class="box-header">
        <h2 class="text-center"></h2>
      </div>
      <form class="formCrud" [formGroup]="VFormGroup" (ngSubmit)="onFormSubmit()">
        <div class="box-body">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <div class="col-md-6">
                <label>Nome:</label>
                <input class="form-control" formControlName="nome" />
              </div>
              <div class="col-md-6">
                <label>whatsapp:</label>
                <input class="form-control" formControlName="whatsapp" kzMask="(99)99999-9999" />
              </div>
              <div class="col-md-6">
                <label>email:</label>
                <input class="form-control" formControlName="email" />
              </div>
              <div class="col-md-6">
                <label>Origem:</label>
                <input class="form-control" formControlName="origem" />
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="lojista">Lojista</label>
                  <select id="lojista" class="form-control" formControlName="pagamentoAprovado">
                    <option value="true">SIM</option>
                    <option value="false">NÃO</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="box-footer formCrud_footer">
          <div class="col-md-1"></div>
          <button class="btn formCrud-btn done" [disabled]="!VFormGroup.valid" *ngIf="!EstaAlterando">Gravar</button>
          <button class="btn formCrud-btn done" [disabled]="!VFormGroup.valid" *ngIf="EstaAlterando">Alterar</button>
          <button class="btn formCrud-btn back" (click)="goBack()">Voltar</button>
        </div>
      </form>
    </div>
  </div>
</section>
