<section class="hidden-xs">
  <ol class="breadcrumb">
    <li class="">
      <i class="fa fa-dashboard"></i> Dashboard</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    
  </div>
</section>
