/* You can add global styles to this file, and also import other style files */
@import '/loading-page';

.section {
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.content {
  margin-top: 40px;
}

.fixed .content-wrapper {
  background-color: #635d5c;   
}

.date-placeholder {
  &:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
  }

  &:focus:before,
  &:valid:before {
    content: "";
  }
}

@media (max-width: 990px) {
  .margin-top-md {
    margin-top: 6px;
  }

  .fixed .content-wrapper {
    padding-top: 80px;
  }
}

@media (max-width: 767px) {
  .logo-lg {
    margin-left: 60px;
    // background-color: #ec3434;
  }
}

@media (min-width: 768px) {
  .scrollable {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .fixed .content-wrapper {
    padding-top: 50px;
  }
}

.divider {
  height: 1px;
  width: 100%;
  display: block;
  /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: darken(#e5e5e5, 20%);
}

.purple-button,
.purple-button:hover,
.purple-button:active,
.purple-button:visited,
.purple-button:focus {
  background-color: #9933ff !important;
  border-color: #9933ff !important;
}

.sidebar-menu li>a>.pull-right-container>.fa-angle-left {
  transition: transform .5s ease;
}

.ql-container {
  min-height: 250px;
  margin-bottom: 20px;
}

.login-logo img {
  width: 100%;
}


.btn-floating {
  position: fixed;
  float: bottom;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  display: inline-block;
  border-radius: 50%;
  font-size: 20px;
  width: 56px;
  height: 56px;
  background-color: #2d7971;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  i {
    color: #fff;
    line-height: 46px;
  }
}

.btn-floating:hover {
  background-color: #328e85;
}
